$bottom-row-container-width: 100%;

.bottom-row-container {
  border: solid rgb(17, 0, 255);
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  width: 100%;
  max-width: $bottom-row-container-width; // Set a max width to prevent full-width on larger screens
  padding: 2rem;
  margin: 0 auto; // Center the container
  box-sizing: border-box;
  background-color: #80808067;
  overflow: hidden;

  @media (max-width: 768px) {
    padding: 1rem; // Adjust padding for smaller screens
    max-width: 100%; // Full width on mobile devices
  }
}