.collapsible-graphs-container {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  padding: 1rem;
}

.collapsible-graph {
  flex: 1;
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  background: #f9f9f9;
  transition: all 0.3s ease-in-out;
  width: 100%;

  .graphs {
    padding: 1rem;
    background: white;
  }
}

.toggle-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px 15px;
  font-size: 16px;
  border: 1px solid #ccc;
  background-color: #121827;
  color: white;
  cursor: pointer;
}

.symbol {
    margin-left: 0px;
}
