$overlay-selection-container-width: 100%;

.overlay-selection-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: 25%;
  max-width: $overlay-selection-container-width; // Set a max width to prevent full-width on larger screens
  min-height: calc(100vh - 7rem); // 6rem is the height of the navbar
  padding: 0.5rem;
  // margin: 0 auto; // Center the container
  box-sizing: border-box;
  background-color: #72a1ff90;
  overflow: hidden;
  border-radius: 10px;

  @media (max-width: 768px) {
    padding: 1rem; // Adjust padding for smaller screens
    max-width: 100%; // Full width on mobile devices
  }
}