.date-slider-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 2rem;
  padding-right: 2rem;
  width: 100%;
  padding: 10px;
}

.selected-date {
  width: 80%;
  align-self: flex-end;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 500;
  color: white;
}

.date-slider {
  width: 80%;
  align-self: flex-end;
}
