$top-row-container-width: 100%;

.top-row-container {
  border: solid white;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  width: 100%;
  max-width: $top-row-container-width; // Set a max width to prevent full-width on larger screens
  min-height: calc(100vh - 6rem); // 6rem is the height of the navbar
  padding: 2rem;
  margin: 0 auto; // Center the container
  box-sizing: border-box;
  background-color: #72a1ff6c;
  overflow: hidden;

  @media (max-width: 768px) {
    padding: 1rem; // Adjust padding for smaller screens
    max-width: 100%; // Full width on mobile devices
  }
}